*{
	transition: all .7s;
}
body{
  background-image: -moz-linear-gradient( 130deg, rgb(0,180,255) 0%, rgb(234,255,0) 120%);
  background-image: -webkit-linear-gradient( 130deg, rgb(0,180,255) 0%, rgb(234,255,0) 120%);
  background-image: -ms-linear-gradient( 130deg, rgb(0,180,255) 0%, rgb(234,255,0) 120%);
  }

.now{
	display: block;
	margin: auto;
	border-radius: 10px;
	width: 450px;
	height: 232px;
	box-shadow: 0 5px 20px rgba(0,0,0,.25);
	-moz-box-shadow: 0 5px 20px rgba(0,0,0,.25);
	-o-box-shadow: 0 5px 20px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 5px 20px rgba(0,0,0,.25);
	text-transform: uppercase;
		background: #e0e0e0;
}	
.texttable1{
	width: 80px;
	border-radius: 10px 0 0 0;
	font-family: 'Dejavu Sans';
	font-size: 15px;
	font-weight: lighter;
	white-space:normal;
	background: #d9d9d9;
	text-align:  center;
	padding: 5px;

}
.texttable2{
	width: 350px;
	border-radius: 0 10px 0 0;
	font-family: 'Dejavu Sans';
	font-size: 15px;
	font-weight: lighter;
	white-space:normal;
	text-align:  center;
	background: #d9d9d9;
}
.texttable3{
	width: 350px;
	border-radius: 0  0 10px 0;
	font-family: 'Dejavu Sans';
	font-size: 15px;
	font-weight: lighter;
	text-align:  center;
	background: #d9d9d9
}
.texttable4{
	width: 80px;
	border-radius: 0 0 0 10px;
	font-family: 'Dejavu Sans';
	font-size: 15px;
	font-weight: lighter;
	white-space:normal;
	background: #d9d9d9;
	text-align:  center;
	padding: 5px;
}
.whitetable{
	background: #e0e0e0;
	height: 85px;
	text-align: center;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: 'Dejavu Sans';
	font-size: 15px;
	font-weight: lighter;
	white-space:normal;
	text-align:  center;
	padding: 5px;
	
}

.black{
	height: 100px;
	border-radius: 5px;
	background: #d9d9d9;
	
	text-align: center;
	text-transform: uppercase;
	
}


.current_day .less{
	font-family: 'Dejavu Sans';
	background:rgb(0,180,255) !important;
	font-weight: lighter;
	color: #ffffff;

}

.current_day .less .blue {
	color: #fff;
}

.alpha{
	display: block;
	margin: auto;
	width: 1250px;
	text-align:  center;

}

.a{
	display: inline-block;
	text-align: center;
	margin: 1.5% ;
	width: 350px;
	height: 530px;
	border-radius: 5px;
	box-shadow: 0 5px 20px rgba(0,0,0,.25);
	-moz-box-shadow: 0 5px 20px rgba(0,0,0,.25);
	-o-box-shadow: 0 5px 20px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 5px 20px rgba(0,0,0,.25);
	background: #e0e0e0;
	position: relative;

}

.current_day {
	border-radius: 7px;
	border: 1px solid rgb(0,180,255);
}

.current_day .b {
	font-family: 'Dejavu Sans';
	background:rgb(0,180,255);
	font-weight: lighter;
	color: #ffffff;
	box-shadow: 0px 10px 20px -3px rgb(0, 67, 69,.45);
	-moz-box-shadow: 0 5px 20px rgb(0, 67, 69,.45);
	-o-box-shadow: 0 5px 20px rgb(0, 67, 69,.45);
	-webkit-box-shadow: 0 5px 20px rgb(0, 67, 69,.45);

}

.b{
	font-family: 'Dejavu Sans';
	font-size: 30px;
	font-weight: lighter;
	color: #1f1f1f;
	background: #d9d9d9;
	height: 80px;
	width: 352px;
	box-shadow: 0px 10px 20px -3px rgba(100, 100, 100, .45);
	-moz-box-shadow: 0 5px 20px rgba(100, 100, 100, .45);
	-o-box-shadow: 0 5px 20px rgba(100, 100, 100, .45);
	-webkit-box-shadow: 0 5px 20px rgba(100, 100, 100, .45);
	text-align: center;
	border-radius: 5px 5px 0 0;
	text-transform: uppercase;
	position: relative;
}
.blue{
	font-family: 'Dejavu Sans';
	font-size: 20px;
	font-weight: lighter;
	color: rgb(0,180,255);
	width: 55px;
	text-align: center;
}
.white{
	background: #e0e0e0;
	height: 80px;
	text-align: center;
}
.dark{
	background: #d9d9d9;
	height: 80px;
	text-align: center;
}
.text{
	font-family: 'Dejavu Sans';
	font-size: 15px;
	font-weight: lighter;
	white-space:normal;
}
.text2{
	font-family: 'Dejavu Sans';
	font-size: 14px;
	font-weight: lighter;
	white-space:normal;
}
.dark2{
	background: #d9d9d9;
	height: 50px;
	text-align: center;
}
.white2{
	background: #e0e0e0;
	height: 50px;
	text-align: center;
}
.me{
	font-family: 'Dejavu Sans';
	font-size: 8px;
	font-weight: lighter;
	color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1200px){
.alpha{
width: 700px;
margin: auto;
}
.a{
	display: inline-block;
	text-align: center;
	margin: 1.5% ;
	width: 675px;
	height: 975px;
	border-radius: 5px;
	box-shadow: 0 5px 20px rgba(0,0,0,.25);
	-moz-box-shadow: 0 5px 20px rgba(0,0,0,.25);
	-o-box-shadow: 0 5px 20px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 5px 20px rgba(0,0,0,.25);
	background: #e0e0e0;
	background-size: 150% 150%;	
	position: relative;
	
}
.blue{
	font-family: 'Dejavu Sans';
	font-size: 30px;
	font-weight: lighter;
	color: rgb(0,180,255);
	width: 125px;
	text-align: center;
}
.white{
	background: #e0e0e0;
	height: 185px;
	text-align: center;
}
.text{
	font-family: 'Dejavu Sans';
	font-size: 29px;
	font-weight: lighter;
	white-space:normal;
}
.text2{
	font-family: 'Dejavu Sans';
	font-size: 25px;
	font-weight: lighter;
	white-space:normal;
}
.dark2{
	background: #d9d9d9;
	height: 88px;
	text-align: center;
}
.white2{
	background: #e0e0e0;
	height: 141px;
	text-align: center;
}
.dark{
	background: #d9d9d9;
	height: 139px;
	text-align: center;
}


.now{
	display: block;
	margin: auto;
	width: 675px;
	height: 475px;
	border-radius: 5px;
	box-shadow: 0 5px 20px rgba(0,0,0,.25)
	-moz-box-shadow: 0 5px 20px rgba(0,0,0,.25);
	-o-box-shadow: 0 5px 20px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 5px 20px rgba(0,0,0,.25);
	text-transform: uppercase;
	position: relative;
	background: #e0e0e0;
}	
.texttable1{
	border-radius: 5px 0 0 0;
	font-family: 'Dejavu Sans';
	font-size: 25px;
	font-weight: lighter;
}
.texttable2{
	border-radius: 0 5px 0 0;
	font-family: 'Dejavu Sans';
	font-size: 25px;
	font-weight: lighter;
	width: 552px;
}
.texttable3{
	border-radius: 0  0 5px 0;
	font-family: 'Dejavu Sans';
	font-size: 25px;
	font-weight: lighter;
}
.texttable4{
	border-radius: 0  0 0 5px;
	font-family: 'Dejavu Sans';
	font-size: 25px;
	font-weight: lighter;
}
.whitetable{
	background: #e0e0e0;
	height: 60px;
	text-align: center;
	border-radius: 5px;
	text-transform: uppercase;
	height: 200px;

}

.black{
	background: #d9d9d9;
	height:200px;
	text-align: center;
	border-radius: 5px;
	text-transform: uppercase;
	height: 200px;

}
.whitetable{
	background: #e0e0e0;
	text-align: center;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: 'Dejavu Sans';
	font-size: 25px;
	font-weight: lighter;
	white-space:normal;
	text-align:  center;
	padding: 5px;
	
}
}